body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    font-family: 'Poppins', sans-serif;
}
.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}
.login-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}
.login-container input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login-container button {
    width: 100%;
    padding: 12px;
    background: #4ca1af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.login-container button:hover {
    background: #3a8298;
}